@use '@/shared/styles/variables' as *;

.arrowButton {
  width: 38px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:disabled {
    cursor: default;
    opacity: 0.2;
  }
}
.arrowButton_direction-left {
  .icon {
    transform: rotate(180deg);
  }
}
