@use "@/shared/styles/mixins" as *;
@use "@/shared/styles/variables" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: font-family(500);
  gap: 12px;
}
